[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
omit =
    nlsn/nebula/spark_constants.py
    nlsn/nebula/pipelines/_graphviz.py
    nlsn/nebula/pipelines/_html_viz.py
    nlsn/nebula/backend_util.py
