build/
dist/
docs/_static
htmlcov/
nlsn/tests/coverage_html
notebooks/
public/
spark_local/
tmp/
venv/
.tox/

report.xml

# Python
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
.coverage

# OS
.DS_Store

# IDE
.idea/
.vscode/
.vim

# Generic files
*egg-info*
.ipynb_checkpoints/
*.ipynb
*.csv
*.coverage
*.coverage.*
*.log
*.parquet
*.py[cdo]
*.swp
*.env
*.zip
*.gz
*.tar

# Keep
!/example_notebooks/*.ipynb
