build/
dist/
docs/_static
htmlcov/
notebooks/
public/
spark_local/
tmp/
venv/
venv*/
.venv/
/spark*
.coverage
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
__pycache__

report.xml
.DS_Store

*egg-info*
*.ipynb
*.csv
*.coverage
*.coverage.*
*.log
*.parquet
*.py[cdo]
*.swp
*.png
*.env
*.zip
*.gz
*.tar
_*.html

uv.lock

# keep
!/example_notebooks/*.ipynb
