repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1  # Actual stable version
    hooks:
      - id: ruff
        args: [ "--fix" ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Actual stable version
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: \.py$
      - id: trailing-whitespace
        exclude: \.py$
      - id: check-added-large-files
